<header>
  <nav class="header-nav">
    <a class="header-title" href="/">MyStock</a>
    <form action="/authors" method="GET">
      <div class="form-row">
        <div class="form-item">
          <input type="text" name="name" placeholder="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </div>
    </form>
    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/books">Picture</a></li>
      <li><a href="/books/new">Add Picture</a></li>
      <li><a href="/authors/new">Account</a></li>
    </ul>
  </nav>
  <div class="action">
    <div class="profile">
        <img src="../images/img.jpg">
    </div>
    <div class="menu">
        <h3>Username<br><span>Web Developer</span></h3>
        <ul>
          <li><img src="../images/profile.png"><a href="/authors/login">My Profile</a></li>
          <li><img src="../images/edit.png"><a href="#">Edit Profile</a></li>
          <li><img src="../images/inbox.png"><a href="#">Inbox</a></li>
          <li><img src="../images/settings.png"><a href="#">Setting</a></li>
          <li><img src="../images/help.png"><a href="#">Help</a></li>
          <li><img src="../images/logout.png"><a href="#">Logout</a></li>
        </ul>
    </div>
</div>
</header>