<div class="form-row">
  <div class="form-item">
    <div class="newUser"></div>
      <label>Name</label>
      <input type="text" name="name" placeholder="Input your name">
      <br>
      <label>Email</label>
      <input type="email" name="email" placeholder="Input Your Email">
      <br>
      <label>Password</label>
      <input type="text" name="password" placeholder="Input your Password">
      <br>
      <label>Confirm Password</label>
      <input type="text" name="confirmpassword" placeholder="Input Your Password">
    </div>
  </div>
</div>