<div class="form-row">
    <div class="form-item">
      <div class="login"></div>
        <label>Email</label>
        <input type="email" name="email" placeholder="Input Your Email">
        <br>
        <label>Password</label>
        <input type="text" name="password" placeholder="Input your Password">
      </div>
    </div>
  </div>