<h2 class="page-header">Create Account</h2>
<form action="/authors/login" method="POST">
  <%- include('_login_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" style="background-color: white; color: red;" href="#">SignUp</a>
    <button class="btn btn-danger" style="color: green; background-color: white;" type="submit">Login</button>
  </div>
</form>