<h2 class="page-header">New Author</h2>
<form action="/authors" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" style="background-color: white; color: red;" href="/">Cancel</a>
    <button class="btn btn-danger" style="color: green; background-color: white;" type="submit">Create</button>
  </div>
</form>